@model ticketsDemo.Models.comments

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>comments</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tickets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tickets.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.commentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.commentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.commentDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.commentDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.assignee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.assignee.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
